<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676620022083-3k2j8n3r9f8qd1j43f2nglom2n7ribd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676620022083-3k2j8n3r9f8qd1j43f2nglom2n7ribd7</string>
	<key>API_KEY</key>
	<string>AIzaSyAG6it4_NILRFnIWWzkA9pgDLcVMIoTCBc</string>
	<key>GCM_SENDER_ID</key>
	<string>676620022083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MS.LogicGames</string>
	<key>PROJECT_ID</key>
	<string>LogicGames-app</string>
	<key>STORAGE_BUCKET</key>
	<string>brainfitness-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:676620022083:ios:aefd423fe5570072253ff6</string>
	<key>DATABASE_URL</key>
	<string>https://brainfitness-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>
